/* --------------------------------
  Base Styles
-------------------------------- */
body {
	margin: 0;
	background-color: #0c0a18;
	color: #fff;
	font-family: "Sawarabi Gothic", sans-serif;
	padding: 20px;
	line-height: 1.6;
}

h1 {
	text-align: center;
	color: #fff;
}

/* --------------------------------
  header
-------------------------------- */
.site-header {
	text-align: center;
}

.logo {
	width: 250px;
	height: auto;
	margin-bottom: 10px;
}
/* --------------------------------
  Form
-------------------------------- */
form {
	max-width: 800px;
	margin: 0 auto 80px;
	padding: 32px;
	background-color: #1e1e2f;
	border-radius: 12px;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* フォーム入力要素 */
input,
textarea,
select {
	width: 100%;
	padding: 13px;
	margin-bottom: 16px;
	border: none;
	border-radius: 8px;
	background-color: #2c2c3f;
	color: #fff;
	font-size: 18px;
}

input::placeholder,
textarea::placeholder {
	color: #aaa;
}

/* --------------------------------
  Button
-------------------------------- */
button {
	padding: 15px 80px;
	border: none;
	border-radius: 8px;
	background: linear-gradient(135deg, #ffb03a, #ff4e50, #6c5ce7);
	color: white;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	transition: opacity 0.3s;
}

button:hover {
	opacity: 0.85;
}

.form-buttons {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: 16px;
}

.del-btn {
	font-size: 15px;
	color: #0e0e1a;
	padding: 10px;
	background: #fff;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 8px 12px;
	font-weight: bold;
}

/* --------------------------------
  メモ部分
-------------------------------- */
#memo-list {
	max-width: 800px;
	margin: 0 auto;
}

#memo-list > div {
	background-color: #1b1b2b;
	padding: 24px;
	border-radius: 10px;
	margin-bottom: 24px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

/* メモアイテム内のテキスト */
#memo-list h2 {
	font-size: 24px;
	margin-bottom: 8px;
}

#memo-list p {
	margin: 15px 0;
}

#memo-list .genre-tag {
	display: inline-block;
	padding: 5px 10px;
	background: #6c5ce7;
	color: #fff;
	border-radius: 6px;
	font-size: 14px;
	margin-top: 8px;
}

/* --------------------------------
  footer
-------------------------------- */
footer {
	text-align: center;
	margin-top: 30px;
	color: #aaa;
	font-size: 14px;
	width: 100%;
	box-sizing: border-box;
}

footer p {
	margin: 0;
}

/* レスポンシブデザイン */
@media (max-width: 600px) {
	form,
	#memo-list {
		padding: 16px;
	}
}
